# Input from user

In [1]:
n=input("enter something")
print(n)

enter somethingvaibhav
vaibhav

In [2]:
#sum of 2 no
n1=input("enter num1")
n2=input("enter num2")
ans=n1+n2
print("sum=",ans)

enter num12
enter num23
sum= 23

input method return value in string so we need to tyoe cast the value to other data type

In [3]:
#sum of 2 no
n1=int(input("enter num1"))
n2=int(input("enter num2"))
ans=n1+n2
print("sum=",ans)

enter num13
enter num24
sum= 7

#conditional statement

*   if
*   if..else
* elseif
*nested if

In [5]:
n1=10
n2=20
if n1>n2:
  print(n1," is greater")
if n2>n1:
  print(n2," is greater")

20  is greater

In [4]:
n1=10
n2=20
if n1>n2:
  print(n1," is greater")
else:
  print(n2," is greater")

20  is greater

In [7]:
n1=20
n2=20
if n1>n2:
  print(n1," is greater")
elif n2>n1:
  print(n2," is greater")
else:
  print("both numbers are equal")

both numbers are equal

#loop

* while
*   for

In [9]:
i=1
while i <=10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

In [10]:
for i in 'Hello':
  print("value: ",i)

value:  H
value:  e
value:  l
value:  l
value:  o

In [11]:
l1=[1,2,3,4,54]
print(l1)

for i in l1:
  print(i)

[1, 2, 3, 4, 54]
1
2
3
4
54

#for loop using range

In [12]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:

for i in range(5,10):
  print(i)

5
6
7
8
9

In [14]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [16]:
l1=[1,2,3,4,5,6,7,8,9]
for i in l1:
  print(i)

1
2
3
4
5
6
7
8
9

#control Statement
* break
* continue

In [28]:
i=0
for i in range(10):
  if (i>5):
    break
  if (i%3==0):
    continue
  print(i)

1
2
4
5

#pass

In [29]:
i=5
if (i==5):
  print(i)
else:

SyntaxError: ignored

In [30]:

i=5
if (i==5):
  print(i)
else:
  pass

5