# Function 
* built in function
    * eg: range
* user define function

In [1]:
def myfunction():
  print("hello vaibhav")

#no agru no return
myfunction()
myfunction()

hello vaibhav
hello vaibhav

In [2]:
def myfunction(name):
  print("hello ",name)

#with agru no return
myfunction("vaibhav")
myfunction("vidhi")

hello  vaibhav
hello  vidhi

In [3]:
def myfunction(name):
  print("hello ",name)
  return name

#with agru return
name = myfunction("vaibhav")
print("name :",name)

hello  vaibhav
name : vaibhav

In [4]:
#one return statemnt can return multiple values
def myfunction():
  name="vaibhav"
  cllg="HGCE"
  return name,cllg

#no agru no return
name,cllg=myfunction()
print("name :",name)
print("Cllg :"+cllg)

name : vaibhav
Cllg :HGCE

# function agrument
* default argument
* keyword argument
* variable length argument
    * "*" for non keyword argumnent
    * "**"  for keyword argument

In [5]:
#default agrument

def sum(n1=89,n2=10):
  print("sum :",n1+n2)

sum(10,20)
sum(11)
sum()

sum : 30
sum : 21
sum : 99

In [6]:
def sum(a,b):
  print("Sum : ",a+b)

#variable need to be same
sum(b=10,a=20)

Sum :  30

In [7]:
def sum(*n1):
  sum=0
  for i in n1:
    sum+=i
  print("sum :",sum)

sum(34,2)
sum(34,56,1,2)

sum : 36
sum : 93

In [8]:
def myfunction(**arg):
  for i, j in arg.items():
    print(i,j)

myfunction(name='vaibhav',cllg='HGCE')

name vaibhav
cllg HGCE

#module
* import

#operator
* arithmetic operator
* comparison operator
* logical operator
* membership operator
    * 'in' and 'not in'
* identitiy operator
    * 'is' and 'is not'

In [9]:
l=[12,23,4,5,7,8,3]

print(10 in l)
print(10 not in l)
print(12 in l)
print(23 not in l)

False
True
True
False

In [10]:
x=20
y=20
print(x is y)
print(x is not y)

True
False